body {
  background: black;
  color: white;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  background-image: url(https://www.runescape.com/img/rsp777/bg2.jpg);
  background-position: top center;
  background-repeat: repeat-y;
  text-align: center;
  margin: 0;
  min-width: 960px;
  overflow-y: scroll;
}

.centerDiv {
  background: url(https://www.runescape.com/img/rsp777/bg2.jpg) repeat-y scroll center top black;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}


div,td {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
}



/*

*/
img.miniimg {
  height: 16px;
  width: 16px;
}

.personal-hiscores__table table { /*Specificity class*/
  margin-right: 30px;
  border-spacing: 0;
}


#col1, #col2, #col3 {

}

/* col1 */
#col1 {
  width: 175px;
}
/* xcol1 */
/* col2 */
#col2 {
  width: 380px;
  margin: 10px 15px 0px 5px;
}

/* xcol2 */
/* col3 */
#col3 {
  width: 155px;
}

#headerHiscores {
  background: url(https://www.runescape.com/img/rsp777/hiscores/scroll_top.gif) no-repeat;
  width: 379px;
  height: 36px;
}

.hiscoresHiddenBG {
  width: 372px;
  background: #c2ab79;
  margin-left: 5px;
}

#contentHiscores {
  width: 379px;
  position: relative;
  background: url(https://www.runescape.com/img/rsp777/hiscores/scroll_middle.gif) repeat-y;
  margin: 0 -5px;
  line-height: 18px;
  color: #000;
}

#contentHiscores caption {
  font-weight: bold;
  color: #000;
}

th, td {
  color: #000;
}

#footerHiscores {
  background: url(https://www.runescape.com/img/rsp777/hiscores/scroll_bottom.gif) no-repeat;
  width: 379px;
  height: 36px;
}


.left {
  text-align: left;
  margin-right: auto;
}

.right {
  text-align: right;
  margin-left: auto;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td.win {
  text-align: right;
  color: forestgreen;
  font-weight: bold;
}

.personal-hiscores__pagination {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}





/* Style The Dropdown Button */
.dropbtn {
  color: black;
  padding: 4px 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {

}